* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Switzer', sans-serif; }

.header-inicial {
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2; }
  .header-inicial.abajo {
    background-color: #B5D0EE;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
    .header-inicial.abajo .navBar ul {
      display: flex; }
      .header-inicial.abajo .navBar ul li a {
        color: white;
        transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
        .header-inicial.abajo .navBar ul li a:hover {
          transform: scale(1.1);
          color: white;
          transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1);
          color: black; }
    .header-inicial.abajo .navBar.active ul {
      display: flex;
      gap: 40px; }
      .header-inicial.abajo .navBar.active ul li a {
        color: black;
        transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
        .header-inicial.abajo .navBar.active ul li a:hover {
          transform: scale(1.1);
          color: white;
          transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }
  .header-inicial .navBar ul {
    display: flex;
    gap: 40px; }
    .header-inicial .navBar ul li a {
      color: white;
      transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
      .header-inicial .navBar ul li a:hover {
        transform: scale(1.1);
        color: white;
        transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1);
        color: black; }
  .header-inicial .logo a img {
    padding-top: 10px;
    height: 160px; }
  .header-inicial .hamburger {
    display: none; }
  .header-inicial .navBar {
    gap: 50px;
    padding-right: 20px;
    display: flex; }
    .header-inicial .navBar ul {
      list-style: none; }
      .header-inicial .navBar ul li a {
        display: inline-block;
        color: black;
        font-size: 22px;
        text-decoration: none;
        transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
        .header-inicial .navBar ul li a:hover {
          transform: scale(1.1);
          color: white;
          transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }

footer {
  background-color: #d8f4fc;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-top: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); }
  footer .instagramLogo {
    height: 35px;
    padding-right: 20px; }
  footer .whatsappLogo {
    height: 35px;
    padding-right: 20px; }
  footer .facebookLogo {
    height: 35px;
    padding-right: 20px; }

.banner-inicial {
  background-image: url("../assets/inicio-banner.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: 1800px;
  height: 900px; }
  .banner-inicial .banner-inicial-container {
    display: flex;
    gap: 200px;
    position: absolute;
    align-items: center;
    top: 350px;
    left: 300px; }
    .banner-inicial .banner-inicial-container .banner-inicial-header {
      display: flex;
      flex-direction: column; }
      .banner-inicial .banner-inicial-container .banner-inicial-header h1 {
        font-size: 50px; }
      .banner-inicial .banner-inicial-container .banner-inicial-header p {
        font-size: 30px; }
    .banner-inicial .banner-inicial-container .anchor-banner-inicial-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      .banner-inicial .banner-inicial-container .anchor-banner-inicial-container a {
        background-color: rgba(138, 204, 221, 0.801);
        padding: 13px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 23px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
        .banner-inicial .banner-inicial-container .anchor-banner-inicial-container a:hover {
          transform: scale(1.1);
          color: black;
          transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }

.seccion-inicio-nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .seccion-inicio-nosotros .nosotros-inicio-info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .seccion-inicio-nosotros .nosotros-inicio-info .nosotros-inicio-info-texto {
      max-width: 400px; }
      .seccion-inicio-nosotros .nosotros-inicio-info .nosotros-inicio-info-texto h2 {
        font-size: 35px;
        padding-bottom: 20px; }
      .seccion-inicio-nosotros .nosotros-inicio-info .nosotros-inicio-info-texto p {
        font-size: 25px; }
    .seccion-inicio-nosotros .nosotros-inicio-info .anchor-container-inicio-nosotros {
      display: inline-block;
      max-width: 250px; }
      .seccion-inicio-nosotros .nosotros-inicio-info .anchor-container-inicio-nosotros a {
        background-color: rgba(138, 204, 221, 0.801);
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 21px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        display: inline-block;
        margin-top: 20px;
        transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
        .seccion-inicio-nosotros .nosotros-inicio-info .anchor-container-inicio-nosotros a:hover {
          transform: scale(1.1);
          color: black;
          transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }
  .seccion-inicio-nosotros .nosotros-inicio-info-img {
    display: block;
    justify-content: flex-end;
    align-items: center; }
    .seccion-inicio-nosotros .nosotros-inicio-info-img img {
      height: 500px;
      padding: 20px; }

.seccion-inicio-servicios {
  margin-bottom: 100px; }
  .seccion-inicio-servicios h2 {
    padding-top: 140px;
    padding-bottom: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center; }
  .seccion-inicio-servicios .inicio-servicios-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-bottom: 50px;
    flex-wrap: wrap; }
    .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card {
      max-width: 300px;
      background-color: #f7f7f8;
      padding: 15px;
      padding-block: 15px;
      align-items: center;
      overflow: hidden;
      position: relative;
      transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 #00000026; }
      .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card > :not(strong) {
        transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease; }
      .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card strong {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--hover-text);
        border-radius: 5px;
        font-weight: bold;
        top: 100%;
        transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1); }
      .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card .card-image {
        width: 300px;
        transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
        background-color: #f7f7f8;
        display: flex;
        justify-content: center;
        align-items: center; }
        .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card .card-image img {
          height: 200px; }
      .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card:hover .card-image {
        transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
        background-color: rgba(138, 204, 221, 0.801);
        opacity: 0; }
      .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card:hover strong {
        top: 0;
        font-size: 25px;
        color: white; }
      .seccion-inicio-servicios .inicio-servicios-card-container .inicio-servicios-card:hover {
        background-color: rgba(138, 204, 221, 0.801);
        box-shadow: 0 5px 5px 0 #00000026; }
  .seccion-inicio-servicios .inicio-servicios-anchor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
    .seccion-inicio-servicios .inicio-servicios-anchor-container a {
      background-color: rgba(138, 204, 221, 0.801);
      padding: 13px;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 23px;
      text-decoration: none;
      color: white;
      border-radius: 5px;
      transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
      .seccion-inicio-servicios .inicio-servicios-anchor-container a:hover {
        transform: scale(1.1);
        color: black;
        transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }

.seccion-inicio-clientes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .seccion-inicio-clientes .inicio-clientes-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .seccion-inicio-clientes .inicio-clientes-header h2 {
      font-size: 45px;
      padding-top: 100px; }
    .seccion-inicio-clientes .inicio-clientes-header p {
      font-size: 25px;
      padding-top: 20px;
      padding-bottom: 100px; }
  .seccion-inicio-clientes .inicio-clientes-images {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    padding: 0 50px 0 50px;
    gap: 80px;
    margin-bottom: 70px;
    overflow: hidden; }
    .seccion-inicio-clientes .inicio-clientes-images a figure img[alt~='edenor'] {
      height: 80px; }
    .seccion-inicio-clientes .inicio-clientes-images a figure img[alt~='edesur'] {
      height: 255px; }
    .seccion-inicio-clientes .inicio-clientes-images a figure img {
      transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
      .seccion-inicio-clientes .inicio-clientes-images a figure img:hover {
        transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1.1); }
  .seccion-inicio-clientes .inicio-clientes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    .seccion-inicio-clientes .inicio-clientes-button a {
      background-color: rgba(138, 204, 221, 0.801);
      padding: 13px;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 23px;
      text-decoration: none;
      color: white;
      border-radius: 5px;
      transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
      .seccion-inicio-clientes .inicio-clientes-button a:hover {
        transform: scale(1.1);
        color: black;
        transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }

.nosotros-banner-inicial {
  background-image: url(../../assets/nosotros-banner-1.jpg);
  background-size: 1400px;
  background-attachment: fixed; }
  .nosotros-banner-inicial .nosotros-banner-inicial-blur {
    backdrop-filter: blur(2px);
    background-color: rgba(153, 231, 245, 0.3);
    padding: 200px 0 200px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nosotros-banner-inicial .nosotros-banner-inicial-blur .nosotros-banner-inicial-container {
      color: white;
      text-align: center;
      max-width: 500px; }
      .nosotros-banner-inicial .nosotros-banner-inicial-blur .nosotros-banner-inicial-container h1 {
        font-size: 40px;
        padding-bottom: 30px; }
      .nosotros-banner-inicial .nosotros-banner-inicial-blur .nosotros-banner-inicial-container p {
        font-weight: bold;
        font-size: 25px; }

.nosotros-info {
  margin-bottom: 70px; }
  .nosotros-info .nosotros-info-container-1-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .nosotros-info .nosotros-info-container-1-wrapper .nosotros-info-container-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%; }
      .nosotros-info .nosotros-info-container-1-wrapper .nosotros-info-container-1 .nosotros-info-contenido-1 {
        padding-right: 50px;
        margin-right: 50px; }
        .nosotros-info .nosotros-info-container-1-wrapper .nosotros-info-container-1 .nosotros-info-contenido-1 p {
          font-size: 24px; }
      .nosotros-info .nosotros-info-container-1-wrapper .nosotros-info-container-1 figure > img {
        border-radius: 5px;
        height: 600px; }

.nosotros-info-container-2-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  .nosotros-info-container-2-wrapper .nosotros-info-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-direction: row-reverse; }
    .nosotros-info-container-2-wrapper .nosotros-info-container-2 .nosotros-info-contenido-2 {
      padding-left: 70px;
      margin-left: 100px; }
      .nosotros-info-container-2-wrapper .nosotros-info-container-2 .nosotros-info-contenido-2 p {
        font-size: 24px; }
    .nosotros-info-container-2-wrapper .nosotros-info-container-2 .nosotros-info-image-2 figure > img {
      border-radius: 5px;
      height: 500px; }

.nosotros-info-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 70px 50px 70px; }
  .nosotros-info-2 .nosotros-info-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px; }
    .nosotros-info-2 .nosotros-info-container-2 .nosotros-info-container-2-contenido {
      width: 70%; }
      .nosotros-info-2 .nosotros-info-container-2 .nosotros-info-container-2-contenido h2 {
        font-size: 40px;
        padding-bottom: 20px; }
      .nosotros-info-2 .nosotros-info-container-2 .nosotros-info-container-2-contenido p {
        font-size: 22px; }
      .nosotros-info-2 .nosotros-info-container-2 .nosotros-info-container-2-contenido h3 {
        font-size: 27px;
        padding-top: 30px;
        color: #48c8fa; }
  .nosotros-info-2 .nosotros-image-container-2 {
    padding-right: 70px; }
    .nosotros-info-2 .nosotros-image-container-2 article > img {
      height: 470px; }

.servicios-banner-inicial .servicios-banner-inicial-blur {
  backdrop-filter: blur(2px);
  background-color: rgba(153, 231, 245, 0.3);
  padding: 200px 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .servicios-banner-inicial .servicios-banner-inicial-blur .servicios-banner-inicial-container {
    color: white;
    text-align: center;
    max-width: 500px; }
    .servicios-banner-inicial .servicios-banner-inicial-blur .servicios-banner-inicial-container h2 {
      font-size: 40px;
      padding-bottom: 30px; }

.servicios-banner-inicial h1 {
  font-size: 35px;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px; }

.servicios-banner-cards {
  margin-top: 500px; }
  .servicios-banner-cards h2 {
    font-size: 45px;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 150px; }

.servicios-banner-cards-container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding-bottom: 50px;
  flex-wrap: wrap; }
  .servicios-banner-cards-container-cards .inicio-servicios-card {
    max-width: 300px;
    background-color: #f7f7f8;
    padding: 15px;
    padding-block: 15px;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 #00000026; }
    .servicios-banner-cards-container-cards .inicio-servicios-card > :not(strong) {
      transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease; }
    .servicios-banner-cards-container-cards .inicio-servicios-card strong {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--hover-text);
      border-radius: 5px;
      font-weight: bold;
      top: 100%;
      transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1); }
    .servicios-banner-cards-container-cards .inicio-servicios-card .card-image {
      width: 300px;
      transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
      background-color: #f7f7f8;
      display: flex;
      justify-content: center;
      align-items: center; }
      .servicios-banner-cards-container-cards .inicio-servicios-card .card-image img {
        height: 200px; }
    .servicios-banner-cards-container-cards .inicio-servicios-card:hover .card-image {
      transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
      background-color: rgba(138, 204, 221, 0.801);
      opacity: 0; }
    .servicios-banner-cards-container-cards .inicio-servicios-card:hover strong {
      top: 0;
      font-size: 25px;
      color: white; }
    .servicios-banner-cards-container-cards .inicio-servicios-card:hover {
      background-color: rgba(138, 204, 221, 0.801);
      box-shadow: 0 5px 5px 0 #00000026; }

.bannerClientes1 {
  padding-top: 100px;
  display: flex;
  align-items: center; }
  .bannerClientes1 .bannerClientes1Contenido {
    display: flex;
    flex-direction: column; }
    .bannerClientes1 .bannerClientes1Contenido h1 {
      font-size: 40px;
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
      padding-top: 70px;
      padding-bottom: 40px; }
    .bannerClientes1 .bannerClientes1Contenido p {
      font-size: 25px;
      display: flex;
      padding-left: 20px;
      padding-bottom: 20px; }

.bannerClientes2 {
  background-image: url(../assets/clientesBanner1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: 1400px; }
  .bannerClientes2 h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px; }
  .bannerClientes2 .slider {
    padding-top: 50px;
    width: 90vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-bottom: 200px; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-150px * 9));
    transform: translateX(-1350px); } }
    .bannerClientes2 .slider .slideTrack {
      display: flex;
      animation: scroll 40s linear infinite;
      width: calc(150px * 18);
      -webkit-animation: scroll 40s linear infinite;
      align-items: center;
      gap: 20px; }
    .bannerClientes2 .slider .slide {
      width: 130px; }
      .bannerClientes2 .slider .slide:hover {
        width: 150px;
        transition: 0.4s ease-in-out; }
      .bannerClientes2 .slider .slide img {
        width: 100%;
        overflow: hidden; }

.bannerClientes3 {
  background-image: url(../assets/clientesBanner2.jpg);
  background-position: center;
  background-size: 1700px; }
  .bannerClientes3 .bannerClientes3Contenido {
    color: white;
    text-align: center;
    padding-top: 170px; }
    .bannerClientes3 .bannerClientes3Contenido h3 {
      font-size: 40px; }
    .bannerClientes3 .bannerClientes3Contenido h4 {
      font-size: 25px;
      padding-top: 20px; }
  .bannerClientes3 .botonClientesContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px; }
    .bannerClientes3 .botonClientesContainer a {
      background-color: rgba(138, 204, 221, 0.801);
      padding: 10px;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 20px;
      text-decoration: none;
      color: white;
      border-radius: 5px; }
      .bannerClientes3 .botonClientesContainer a:hover {
        transform: scale(25px);
        color: black;
        transition: 0.4s ease-in-out; }

.mainContactanos {
  background-image: url(../assets/bannerContactanos1.jfif);
  background-position: center;
  background-size: 1700px;
  background-attachment: fixed; }
  .mainContactanos .tituloContactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 200px;
    color: white; }
  .mainContactanos .formularioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-top: 90px;
    padding-bottom: 90px; }
    .mainContactanos .formularioContainer form {
      background-color: #9ac3f1a9;
      width: fit-content;
      padding-top: 50px;
      padding-left: 20px;
      padding-bottom: 50px;
      padding-right: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      gap: 20px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); }
      .mainContactanos .formularioContainer form div input {
        border-radius: 3px;
        width: 300%;
        height: 25px;
        border: none; }
      .mainContactanos .formularioContainer form .botonContactosContainer {
        display: flex;
        flex-direction: row;
        width: 120%;
        justify-content: center;
        position: relative;
        right: -30px;
        padding-top: 20px;
        gap: 10px; }
        .mainContactanos .formularioContainer form .botonContactosContainer .botonContactos {
          border-radius: 3px;
          text-decoration: none;
          border: none; }

@media (max-width: 768px) {
  header .navBar {
    padding-right: 10px; }
    header .navBar ul li a {
      font-size: 20px;
      transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1); }
      header .navBar ul li a:hover {
        transform: scale(1.1);
        color: white;
        transition: 0.4s all cubic-bezier(0.4, 0, 0.2, 1); }
  header .logo a img {
    padding-top: 10px;
    height: 140px; }
  footer .instagramLogo {
    height: 30px; }
  footer .facebookLogo {
    height: 30px; }
  footer .whatsappLogo {
    height: 30px; }
  .bannerInicio1 h1 {
    font-size: 45px; }
  .bannerInicio1 h2 {
    font-size: 25px; }
  .bannerInicio1 .botonContainer1 a {
    font-size: 20px; }
    .bannerInicio1 .botonContainer1 a:hover {
      font-size: 22px; }
  .bannerInicio2 .nosotrosInicioImg img {
    height: 300px; }
  .bannerInicio2 .nosotrosInicio1 {
    padding-left: 20px; }
    .bannerInicio2 .nosotrosInicio1 h3 {
      font-size: 30px; }
    .bannerInicio2 .nosotrosInicio1 p {
      font-size: 20px; }
    .bannerInicio2 .nosotrosInicio1 a {
      font-size: 20px; }
      .bannerInicio2 .nosotrosInicio1 a:hover {
        font-size: 22px; }
  .bannerInicio3 h3 {
    font-size: 40px; }
  .bannerInicio3 .cardContainer .card .cardImg {
    width: 260px; }
    .bannerInicio3 .cardContainer .card .cardImg img {
      height: 180px; }
  .bannerInicio3 .cardContainer .card .cardContenido {
    height: 130px; }
    .bannerInicio3 .cardContainer .card .cardContenido p {
      font-size: 22px; }
  .bannerInicio3 .botonServicios {
    font-size: 20px; }
    .bannerInicio3 .botonServicios:hover {
      font-size: 22px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 h3 {
    font-size: 40px; }
  .bannerInicio4 .edenorSurContainer {
    gap: 120px; }
    .bannerInicio4 .edenorSurContainer .edesur img {
      height: 140px; }
      .bannerInicio4 .edenorSurContainer .edesur img:hover {
        height: 150px; }
    .bannerInicio4 .edenorSurContainer .edenor img {
      height: 50px; }
      .bannerInicio4 .edenorSurContainer .edenor img:hover {
        height: 55px; }
  .bannerInicio4 .botonEdenorSurContainer .botonEdenorSur {
    font-size: 19px; }
    .bannerInicio4 .botonEdenorSurContainer .botonEdenorSur:hover {
      font-size: 22px; }
  .nosotrosBanner1 .nosotrosBanner1Container h1 {
    font-size: 35px; }
  .nosotrosBanner1 .nosotrosBanner1Container p {
    font-size: 21px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosContenido1 p {
    font-size: 21px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosImg img {
    height: 400px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosContenido2 p {
    font-size: 21px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosImg img {
    height: 400px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido h2 {
    font-size: 40px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido p {
    font-size: 20px; }
  .nosotrosBanner3 .nosotrosBanner3Img img {
    height: 350px; }
  .serviciosBanner1 h1 {
    font-size: 30px; }
  .serviciosBanner2 h2 {
    font-size: 40px; }
  .serviciosBanner2 .cardContainer2 .card .cardImg {
    width: 260px; }
    .serviciosBanner2 .cardContainer2 .card .cardImg img {
      height: 180px; }
  .serviciosBanner2 .cardContainer2 .card .cardContenido {
    height: 130px; }
    .serviciosBanner2 .cardContainer2 .card .cardContenido p {
      font-size: 22px; }
  .bannerClientes1 .bannerClientes1Contenido h1 {
    font-size: 35px; }
  .bannerClientes1 .bannerClientes1Contenido p {
    font-size: 22px; }
  .bannerClientes1 img {
    height: 300px; }
  .bannerClientes2 h2 {
    font-size: 37px; }
  .bannerClientes2 .slider {
    padding-bottom: 70px; }
    .bannerClientes2 .slider .slideTrack {
      gap: 30px;
      width: calc(120px * 18); }
      .bannerClientes2 .slider .slideTrack div a .slide {
        width: 120px; }
        .bannerClientes2 .slider .slideTrack div a .slide:hover {
          width: 140px; }
  .bannerClientes3 .bannerClientes3Contenido {
    padding-top: 140px; }
    .bannerClientes3 .bannerClientes3Contenido h3 {
      font-size: 36px; }
    .bannerClientes3 .bannerClientes3Contenido h4 {
      font-size: 23px; }
  .mainContactanos .tituloContactanos h1 {
    font-size: 30px; } }

@media (max-width: 680px) {
  .header-inicial .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 10px; }
    .header-inicial .hamburger .line {
      border: 2px black solid;
      width: 35px;
      margin: 3px 0; }
  .header-inicial .navBar {
    height: 0px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: transparent;
    backdrop-filter: blur(2px);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1; }
    .header-inicial .navBar ul {
      opacity: 0; }
      .header-inicial .navBar ul li a {
        padding-left: 40px;
        align-items: center;
        flex-direction: column;
        font-size: 19px; }
  .header-inicial .navBar.active {
    height: 450px; }
    .header-inicial .navBar.active ul {
      opacity: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center; }
      .header-inicial .navBar.active ul li {
        display: inline-block; }
  .header-inicial .logo a img {
    padding-top: 10px;
    height: 130px; }
  .bannerInicio1 h1 {
    font-size: 37px; }
  .bannerInicio1 h2 {
    font-size: 22px;
    padding-bottom: 60px; }
  .bannerInicio2 .nosotrosInicio1 h3 {
    font-size: 26px; }
  .bannerInicio2 .nosotrosInicio1 p {
    font-size: 18.5px; }
  .bannerInicio2 .nosotrosInicio1 a {
    font-size: 18px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px; }
    .bannerInicio2 .nosotrosInicio1 a:hover {
      font-size: 20px; }
  .bannerInicio2 .nosotrosInicioImg img {
    height: 250px; }
  .bannerInicio3 h3 {
    font-size: 33px; }
  .bannerInicio3 .cardContainer .card .cardImg {
    width: 210px; }
    .bannerInicio3 .cardContainer .card .cardImg img {
      height: 150px; }
    .bannerInicio3 .cardContainer .card .cardImg .cardContenido {
      height: 110px; }
      .bannerInicio3 .cardContainer .card .cardImg .cardContenido p {
        font-size: 20px; }
  .bannerInicio3 .botonServicios a {
    font-size: 18px; }
    .bannerInicio3 .botonServicios a:hover {
      font-size: 20px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 h3 {
    font-size: 35px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 p {
    font-size: 22px; }
  .bannerInicio4 .edenorSurContainer .edenor img {
    height: 45.5px; }
    .bannerInicio4 .edenorSurContainer .edenor img:hover {
      height: 50px; }
  .bannerInicio4 .edenorSurContainer .edesur img {
    height: 120px; }
    .bannerInicio4 .edenorSurContainer .edesur img:hover {
      height: 130px; }
  .nosotrosBanner1 .nosotrosBanner1Container h1 {
    font-size: 33.5px; }
  .nosotrosBanner1 .nosotrosBanner1Container p {
    font-size: 20.5px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosContenido1 p {
    font-size: 20.5px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosImg img {
    height: 270px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosContenido2 p {
    font-size: 20.5px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosImg img {
    height: 270px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido h2 {
    font-size: 33px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido p {
    font-size: 19px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido h3 {
    font-size: 22px; }
  .nosotrosBanner3 .nosotrosBanner3Img img {
    height: 270px; }
  .serviciosBanner1 h1 {
    font-size: 27px; }
  .serviciosBanner2 h2 {
    font-size: 35px; }
  .serviciosBanner2 .cardContainer2 .card .cardImg {
    width: 230px; }
    .serviciosBanner2 .cardContainer2 .card .cardImg img {
      height: 190px; }
  .serviciosBanner2 .cardContainer2 .card .cardContenido {
    height: 100px; }
    .serviciosBanner2 .cardContainer2 .card .cardContenido p {
      font-size: 20px; }
  .bannerClientes1 .bannerClientes1Contenido h1 {
    font-size: 27px; }
  .bannerClientes1 .bannerClientes1Contenido p {
    font-size: 20px; }
  .bannerClientes1 img {
    height: 200px; }
  .bannerClientes2 h2 {
    font-size: 31px;
    padding-bottom: 30px; }
  .bannerClientes2 .slider {
    padding-bottom: 70px; }
    .bannerClientes2 .slider .slideTrack {
      gap: 30px;
      width: calc(100px * 18); }
      .bannerClientes2 .slider .slideTrack div a .slide {
        width: 100px; }
        .bannerClientes2 .slider .slideTrack div a .slide:hover {
          width: 120px; }
  .bannerClientes3 .bannerClientes3Contenido {
    padding-top: 100px; }
    .bannerClientes3 .bannerClientes3Contenido h3 {
      font-size: 30px; }
    .bannerClientes3 .bannerClientes3Contenido h4 {
      font-size: 20px; }
  .bannerClientes3 .botonClientesContainer {
    padding-bottom: 70px; }
    .bannerClientes3 .botonClientesContainer a {
      font-size: 19px;
      padding: 5px;
      padding-left: 30px;
      padding-right: 30px; }
      .bannerClientes3 .botonClientesContainer a:hover {
        font-size: 21px; }
  .mainContactanos .tituloContactanos h1 {
    font-size: 25px; }
  .mainContactanos .formularioContainer {
    padding-top: 70px; }
    .mainContactanos .formularioContainer form {
      padding-right: 200px; }
      .mainContactanos .formularioContainer form div input {
        width: 200%; } }

@media (max-width: 500px) {
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosContenido1 p {
    font-size: 18px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosContenido2 p {
    font-size: 18px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido h2 {
    font-size: 29px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido p {
    font-size: 17px; }
  .nosotrosBanner3 .nosotrosBanner3Img img {
    height: 220px; }
  .serviciosBanner1 h1 {
    font-size: 24px; } }

@media (max-width: 425px) {
  .bannerInicio1 h1 {
    font-size: 32px; }
  .bannerInicio1 h2 {
    font-size: 20px;
    padding-bottom: 60px; }
  .bannerInicio1 .botonContainer1 a {
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px; }
    .bannerInicio1 .botonContainer1 a:hover {
      font-size: 20px; }
  .bannerInicio2 .nosotrosInicio1 h3 {
    font-size: 23px; }
  .bannerInicio2 .nosotrosInicio1 p {
    font-size: 16px; }
  .bannerInicio2 .nosotrosInicio1 a {
    font-size: 17px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px; }
    .bannerInicio2 .nosotrosInicio1 a:hover {
      font-size: 19px; }
  .bannerInicio2 .nosotrosInicioImg img {
    height: 240px; }
  .bannerInicio3 h3 {
    font-size: 28px;
    padding-top: 90px; }
  .bannerInicio3 .cardContainer .card .cardImg {
    width: 180px; }
    .bannerInicio3 .cardContainer .card .cardImg img {
      height: 130px; }
  .bannerInicio3 .cardContainer .card .cardContenido {
    height: 100px; }
    .bannerInicio3 .cardContainer .card .cardContenido p {
      font-size: 18px; }
  .bannerInicio3 .botonServicios a {
    font-size: 17px;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px; }
    .bannerInicio3 .botonServicios a:hover {
      font-size: 19px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 h3 {
    padding-top: 80px;
    font-size: 30px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 p {
    font-size: 19px; }
  .bannerInicio4 .edenorSurContainer {
    gap: 100px; }
    .bannerInicio4 .edenorSurContainer .edenor img {
      height: 30px; }
      .bannerInicio4 .edenorSurContainer .edenor img:hover {
        height: 35px; }
    .bannerInicio4 .edenorSurContainer .edesur img {
      height: 100px; }
      .bannerInicio4 .edenorSurContainer .edesur img:hover {
        height: 120px; }
  .bannerInicio4 .botonEdenorSurContainer .botonEdenorSur {
    font-size: 18px;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px; }
    .bannerInicio4 .botonEdenorSurContainer .botonEdenorSur:hover {
      font-size: 21px; }
  .nosotrosBanner1 .nosotrosBanner1Container h1 {
    font-size: 33.5px; }
  .nosotrosBanner1 .nosotrosBanner1Container p {
    font-size: 20px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosContenido1 p {
    font-size: 18px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosImg img {
    height: 220px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosContenido2 p {
    font-size: 18px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosImg img {
    height: 220px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido {
    padding-left: 10px; }
    .nosotrosBanner3 .nosotrosBanner3Contenido h2 {
      font-size: 22px; }
    .nosotrosBanner3 .nosotrosBanner3Contenido p {
      font-size: 17px; }
    .nosotrosBanner3 .nosotrosBanner3Contenido h3 {
      font-size: 20px; }
  .nosotrosBanner3 .nosotrosBanner3Img img {
    height: 200px; }
  .serviciosBanner1 h1 {
    font-size: 23px; }
  .serviciosBanner2 h2 {
    font-size: 30px; }
  .bannerClientes1 .bannerClientes1Contenido h1 {
    font-size: 23px; }
  .bannerClientes1 .bannerClientes1Contenido p {
    font-size: 18px; }
  .bannerClientes1 img {
    height: 185px; }
  .bannerClientes2 h2 {
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 50px; }
  .bannerClientes2 .slider {
    padding-bottom: 60px; }
    .bannerClientes2 .slider .slideTrack {
      gap: 30px;
      width: calc(80px * 18); }
      .bannerClientes2 .slider .slideTrack div a .slide {
        width: 80px; }
        .bannerClientes2 .slider .slideTrack div a .slide:hover {
          width: 100px; }
  .bannerClientes3 .bannerClientes3Contenido {
    padding-top: 80px; }
    .bannerClientes3 .bannerClientes3Contenido h3 {
      font-size: 26px; }
    .bannerClientes3 .bannerClientes3Contenido h4 {
      font-size: 19px; }
  .bannerClientes3 .botonClientesContainer a {
    font-size: 18px; }
    .bannerClientes3 .botonClientesContainer a:hover {
      font-size: 20px; }
  .mainContactanos .formularioContainer form {
    padding-right: 150px; }
    .mainContactanos .formularioContainer form div input {
      width: 155%; } }

@media (max-width: 375px) {
  .bannerInicio2 .nosotrosInicio1 h3 {
    font-size: 20px; }
  .bannerInicio2 .nosotrosInicio1 p {
    font-size: 15px; }
  .bannerInicio2 .nosotrosInicioImg img {
    height: 210px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 p {
    font-size: 17px; }
  .bannerInicio4 .edenorSurContainer {
    gap: 70px; }
    .bannerInicio4 .edenorSurContainer .edenor img {
      height: 25px; }
      .bannerInicio4 .edenorSurContainer .edenor img:hover {
        height: 30px; }
    .bannerInicio4 .edenorSurContainer .edesur img {
      height: 85px; }
      .bannerInicio4 .edenorSurContainer .edesur img:hover {
        height: 105px; }
  .nosotrosBanner1 .nosotrosBanner1Container {
    padding-bottom: 150px;
    padding-top: 150px; }
    .nosotrosBanner1 .nosotrosBanner1Container h1 {
      font-size: 33.5px; }
    .nosotrosBanner1 .nosotrosBanner1Container p {
      font-size: 18px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosContenido1 p {
    font-size: 16px; }
  .nosotrosBanner2 .nosotrosContainer1 .nosotrosImg img {
    height: 200px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosContenido2 p {
    font-size: 16px; }
  .nosotrosBanner2 .nosotrosContainer2 .nosotrosImg img {
    height: 200px; }
  .nosotrosBanner3 .nosotrosBanner3Contenido {
    padding-left: 10px; }
    .nosotrosBanner3 .nosotrosBanner3Contenido p {
      font-size: 15px; }
  .nosotrosBanner3 .nosotrosBanner3Img img {
    height: 150px; }
  .serviciosBanner1 h1 {
    font-size: 22px; }
  .serviciosBanner2 .cardContainer2 .card .cardImg {
    width: 200px; }
    .serviciosBanner2 .cardContainer2 .card .cardImg img {
      height: 150px; }
  .serviciosBanner2 .cardContainer2 .card .cardContenido {
    height: 90px; }
    .serviciosBanner2 .cardContainer2 .card .cardContenido p {
      font-size: 19px; }
  .bannerClientes1 .bannerClientes1Contenido h1 {
    font-size: 20px; }
  .bannerClientes1 .bannerClientes1Contenido p {
    font-size: 17px; }
  .bannerClientes1 img {
    height: 165px; }
  .bannerClientes2 h2 {
    font-size: 26px;
    padding-bottom: 20px;
    padding-top: 50px; }
  .bannerClientes2 .slider {
    padding-bottom: 50px;
    padding-top: 30px; }
    .bannerClientes2 .slider .slideTrack {
      gap: 30px;
      width: calc(70px * 18); }
      .bannerClientes2 .slider .slideTrack div a .slide {
        width: 70px; }
        .bannerClientes2 .slider .slideTrack div a .slide:hover {
          width: 90px; }
  .bannerClientes3 .bannerClientes3Contenido {
    padding-top: 60px; }
    .bannerClientes3 .bannerClientes3Contenido h3 {
      font-size: 23px; }
    .bannerClientes3 .bannerClientes3Contenido h4 {
      font-size: 18px; }
  .bannerClientes3 .botonClientesContainer {
    padding-bottom: 60px; }
    .bannerClientes3 .botonClientesContainer a {
      font-size: 18px; }
      .bannerClientes3 .botonClientesContainer a:hover {
        font-size: 20px; }
  .mainContactanos .formularioContainer form {
    padding-right: 100px; }
    .mainContactanos .formularioContainer form div input {
      width: 125%; } }

@media (max-width: 320px) {
  .bannerInicio2 .nosotrosInicio1 h2 {
    font-size: 20px;
    padding-bottom: 10px; }
  .bannerInicio2 .nosotrosInicio1 p {
    font-size: 15px; }
  .bannerInicio2 .nosotrosInicio1 a {
    font-size: 15px; }
    .bannerInicio2 .nosotrosInicio1 a:hover {
      font-size: 17px; }
  .bannerInicio3 .botonServicios a {
    font-size: 15px; }
    .bannerInicio3 .botonServicios a:hover {
      font-size: 17px; }
  .bannerInicio4 .tituloBannerInicio4Container .tituloBannerInicio4 p {
    font-size: 15px; }
  .bannerInicio4 .edenorSurContainer {
    gap: 40px; }
    .bannerInicio4 .edenorSurContainer .edenor {
      height: 20px; }
      .bannerInicio4 .edenorSurContainer .edenor img:hover {
        height: 25px; }
    .bannerInicio4 .edenorSurContainer .edesur img {
      height: 75px; }
      .bannerInicio4 .edenorSurContainer .edesur img:hover {
        height: 95px; }
  .bannerInicio4 .botonEdenorSur .botonEdenorSur {
    font-size: 15px; }
    .bannerInicio4 .botonEdenorSur .botonEdenorSur:hover {
      font-size: 17px; }
  .nosotrosBanner1 .nosotrosBanner1Container {
    padding-bottom: 130px;
    padding-top: 130px; }
    .nosotrosBanner1 .nosotrosBanner1Container p {
      font-size: 16px; }
    .nosotrosBanner1 .nosotrosBanner1Container h1 {
      font-size: 30px; }
  .serviciosBanner2 .cardContainer2 .card .cardContenido p {
    font-size: 17px; }
  .bannerClientes3 .botonClientesContainer {
    padding-bottom: 50px; }
    .bannerClientes3 .botonClientesContainer a {
      font-size: 15px; }
      .bannerClientes3 .botonClientesContainer a:hover {
        font-size: 17px; }
  .mainContactanos .formularioContainer form {
    padding-right: 70px; } }
