@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/reset";
@import"./base/typografia";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/mainIndex";
@import "./layout/mainNosotros";
@import "./layout/mainServicios";
@import "./layout/mainClientes";
@import "./layout/mainContactanos";
@import"./layout/media768";
@import"./layout/media680";
@import"./layout/media500";
@import"./layout/media425";
@import"./layout/media375";
@import"./layout/media320";

