.nosotrosBanner1{
    background-image: url(../assets/nosotrosBanner1.jpg);
    background-size: 1400px; 
    background-attachment: fixed;
    .nosotrosBanner1Container{
        padding-top: 200px;
        padding-bottom: 200px;
        color: white;
        text-align: center;
        backdrop-filter: blur(2px);
        h1{
            font-size: 40px;
            padding-bottom: 30px;
        }
        p{
            font-size: 25px;
        }
    }
}
.nosotrosBanner2{
    .nosotrosContainer1{
        @include flex(flex, space-around, center);
    .nosotrosContenido1{
        padding-top: 100px;
        padding-left: 20px;
        p{
            font-size: 23px;
        }
        }
    .nosotrosImg{
        img{
            height: 600px;
        }
    }
    }
    .nosotrosContainer2{
        @include flex(flex, space-around, center);
        flex-direction: row-reverse;
    .nosotrosContenido2{
        padding-right: 30px;
        align-items: center;
        p{
        font-size: 23px;
        text-align: right;
        }
        }
    .nosotrosImg{
        img{
            height: 600px;
        }
    }
    }
}

.nosotrosBanner3{
    @include flex(flex, center, center);
    padding-top: 50px;
    padding-bottom: 50px;
    .nosotrosBanner3Contenido{
        padding-left: 10px;
        h2{
            font-size: 50px;
            padding-bottom: 20px;
        }
        p{
            font-size: 22px;
        }
        h3{
            font-size: 27px;
            padding-top: 30px;
            color: #8ddcfc;
        }
    }
    .nosotrosBanner3Img{
        display: block;
    }
}