.nosotros-banner-inicial{
    //background: fixed url(../../assets/nosotros-banner-1.jpg);
    background-image: url(../../assets/nosotros-banner-1.jpg) ;
    background-size: 1400px; 
    background-attachment: fixed;
    .nosotros-banner-inicial-blur{
        backdrop-filter: blur(2px);
        background-color: rgba($color: #99e7f5, $alpha: 0.3);
        padding:200px 0 200px 0;
        @include flex(flex,center,center);
        .nosotros-banner-inicial-container{
            color: white;
            text-align: center;
            max-width: 500px;
            h1{
                font-size: 40px;
                padding-bottom: 30px;
            }
            p{
                font-weight: bold;
                font-size: 25px;
            }
        }
    }
}
.nosotros-info{
    margin-bottom: 70px;
    .nosotros-info-container-1-wrapper{
        @include flex(flex, center,center);
        .nosotros-info-container-1{
            @include flex(flex,space-between, center);
            width: 70%;
            .nosotros-info-contenido-1{
                padding-right: 50px;
                margin-right: 50px;
            p{
                font-size: 24px;
            }
            };
            & figure>img{
                border-radius: 5px;
                height: 600px;
            }
        }
        }
    }
    .nosotros-info-container-2-wrapper{
        @include flex(flex, center,center);
        .nosotros-info-container-2{
            @include flex(flex, space-between, center);
            width: 70%;
            flex-direction: row-reverse;
            .nosotros-info-contenido-2{
                padding-left: 70px;
                margin-left: 100px;
                p{
                font-size: 24px;
                }
            }
        .nosotros-info-image-2{
            figure>img{
                border-radius: 5px;
                height: 500px;
            }
        }
        }
    }

.nosotros-info-2{
    @include flex(flex, center, center);
    padding: 50px 70px 50px 70px;
    .nosotros-info-container-2{
        @include flex(flex, center, center);
        padding-left: 10px;
        .nosotros-info-container-2-contenido{
            width: 70%;
            h2{
                font-size: 40px;
                padding-bottom: 20px;
            }
            p{
                font-size: 22px;
            }
            h3{
                font-size: 27px;
                padding-top: 30px;
                color: #48c8fa;
            }
        }
    }
    .nosotros-image-container-2{
        padding-right: 70px;
        article>img{
            height: 470px;
        }
    }
}